/*
 * Css for all user screens
 */

.main {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.tab h1,
.tab h2,
.tab p {
    margin: 0;
}

.tab h1 {
    font-size: 16px;
}

.tab {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tab .balance {
    width: 100%;
}

.tab .balance .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background-color: var(--dark-green);
    padding: 1rem;
}

.tab .balance .info h1 {
    color: var(--white);
}

.tab .balance .info button {
    display: flex;
}

.tab .balance .content {
    background-color: var(--almost-white);
    display: flex;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    box-shadow: var(--shadow);
    gap: 1.5rem;
}

.tab .balance .group {
    width: 100%;
}

.tab .balance .bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    padding: 0.6rem;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tab .balance .bar span > * {
    font-weight: 400;
    color: var(--almost-black);
}

.tab .balance .bar span {
    padding-inline: 2px 0;
}

.tab .balance .bar sub {
    margin-top: 3px;
    margin-right: 3px;
}

.tab .btn-container {
    display: flex;
    justify-content: end;
    width: 100%;
}

.tab .btn-container button {
    padding: 0.8rem 3rem;
}

.tab .balance .bar span:not(.hideme) {
    display: flex;
} 

.tab.balance .btn-container {
    margin-bottom: 20%;
}

.tab .buttons {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 5%;
    width: 100%;
}

.tab .buttons button {
    box-shadow: var(--shadow);
}

.tab .buttons button h1 {
    font-size: 18px;
}

.tab .notifications {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.tab .notifications .content {
    width: 70%;
}

.tab .notifications .notification .icon {
    display: flex;
    align-items: center;
}

.tab .notifications .notification {
    background-color: var(--almost-white);
    display: flex;
    justify-content: space-around;
    border-radius: 14px;
    padding: 1rem;
}

.tab .notifications .notification h1 {
    margin-bottom: 2px;
}

.tab .notifications .notification span {
    display: flex;
    gap: 8px;
    font-size: 13px;
}

.tab.info {
    margin-bottom: 10vh;
}

.tab.info .status {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.tab.info .status > div {
    display: flex;
    align-items: center;
    color: var(--white);
    padding: 0.5rem 1rem ;
    border-radius: 10px;
    gap: 1rem;
}

.tab.info .status .indicator {
    background-color: var(--dark-green);
    width: 100%;
}

.tab.info .status .language {
    background-color: var(--green);
    width: max-content;
}

.tab.info .view {
    background-color: var(--almost-white);
    padding: 1rem;
    border-radius: 10px;
    margin: 1vh 0;
    box-shadow: var(--shadow);
}

.tab.info input {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    margin: 0.5rem 0;
}

.tab.info .input-button {
    display: flex;
    gap: 0.6rem;
}

.tab.info .input-button input {
    margin: 0;
    width: 60%;
}

.tab.info .input-button button {
    padding: 1rem;
    width: 40%;
}

.tab.info button[type="submit"] {
    margin-top: 5%;
}

.tab.info h1 {
    margin: 8px 0;
}

.tab.qr .header {
    width: 95%;
}

@media (max-width: 345px) {
    .tab .balance .content {
        gap: 0.5rem !important;
    }

    .tab span.hideme {
        display: none !important;
    }

    .tab .balance .btn-container button {
        padding: 0.6rem !important;
        width: 100% !important;
    }

    .tab .buttons {
        gap: 0.8rem !important;
    }

    .tab .balance .content .bar p {
        text-align: end;
    }

    .tab .notifications .content {
        width: 60% !important;
    }

    .tab .notifications .notification span {
        flex-direction: column-reverse !important;
        gap: 2px !important;
    }

    .tab .content > img {
        width: 120px;
    }
}