footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--green);
    flex: 0 0 auto;
}

footer .qr-container {
    z-index: 1;
    margin-top: -2rem;
}

footer .qr-container .qr {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    padding: 1rem;
    border: 2px solid var(--green);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

footer .items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px 0;
}

footer .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .items .item p {
    margin: 0;
}

footer a {
    text-decoration: none;
}