footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--green);
}

footer .qr-container {
    z-index: 1;
    margin-top: -5%;
}

footer .qr {
    border-radius: 100%;
    padding: 1rem;
    border: 2px solid var(--green);
    background-color: var(--white);
}

footer .items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px 0;
}

footer .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .items .item p {
    margin: 0;
}