header {
    padding: 0 1rem;
    border-bottom: 2px solid var(--green);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}

header .user {
    display: flex;
    gap: 1rem;
}

header .user h1,
header .user h2 {
    margin: 0;
}