header {
    padding: 0 1rem;
    border-bottom: 2px solid var(--green);
    flex: 0 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}

header .user {
    display: flex;
    gap: 1rem;
}

header .user a,
header .user a div {
    display: flex;
    align-items: center;
}

header .user h1,
header .user h2 {
    margin: 0;
}

header .user h2 {
    font-weight: 400;
}