.login.background {
    background: linear-gradient(
        var(--white) 20%, var(--green) 60%,  var(--dark-green)
    );
}

.logo {
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 40%;
}

.login form {
    background-color: var(--almost-white);
    border-radius: 10px;
    padding: 1.5rem 1.5rem 2.5rem;
    box-shadow: var(--shadow);
}

.login form label {
    margin: 2px 0;
}

.login form input {
    width: 100%;
}

.login .icon-input {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 0.8rem;
    margin: 0.8rem 0;
    border-radius: 8px;
}

.login .misc {
    display: flex;
    justify-content: space-between;
}

.login .btn-container {
    margin-top: 3rem;
}