.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register .view {
    background-color: var(--almost-white);
    padding: 1rem;
    border-radius: 10px;
    width: 85%;
    margin-top: 10%;
    box-shadow: var(--shadow);
    min-height: 360px;
}

.register .steps {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.register .steps .dot {
    background-color: var(--green);
    border-radius: 100%;
    width: 4px;
    height: 4px;
}

.register .steps .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    width: min-content;
}

.register .step > .circle {
    padding: 1rem;
    border-radius: 100%;
    color: var(--dark-green);
    background-color: var(--white);
    border: 1.8px solid var(--dark-green);
    height: 1rem;
    width:  1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}

.register .step > .circle.active {
    color: var(--white);
    background-color: var(--dark-green);
}

.register .step > .circle.valid {
    position: relative;
}

.register .step > .circle.valid::after {
    content: "";
    background: no-repeat center/contain url("../img/ico/valid.svg");
    position: absolute;
    bottom: -5px;
    right: -5px;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    pointer-events: none;
}

.register .step > .comment p {
    font-size: 10px;
    text-align: center;
}

.register .controls {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.register .controls > button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.register input {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    margin: 0.5rem 0;
}

.register .content p.comment {
    color: var(--almost-black);
    font-size: 14px;
}

.register .input-button {
    display: flex;
    gap: 1rem;
}

.register .input-button input {
    margin: 0;
    width: 60%;
}

.register .input-button button {
    padding: 1rem;
    width: 40%;
}

.register button.submit {
    margin: 5% 0;
}

.register p#passwordError {
    color: var(--red);
}