.restore-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restore-password .view {
    background-color: var(--almost-white);
    padding: 1rem;
    border-radius: 10px;
    width: 85%;
    margin-top: 10%;
    box-shadow: var(--shadow);
    min-height: 360px;
}

.restore-password .input-button {
    display: flex;
    gap: 1rem;
}

.restore-password .input-button input {
    margin: 0;
    width: 60%;
}

.restore-password .input-button button {
    padding: 1rem;
    width: 40%;
}

.restore-password p.comment {
    color: var(--almost-black);
    font-size: 14px;
}

.restore-password .send-code {
    margin-bottom: 3vh;
}

.restore-password input {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    margin: 0.5rem 0;
}

.restore-password p#passwordError {
    color: var(--red);
}